@model mezuniyetcim.com.Entities.tblMisyon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Misyon Sil</h1>

<dl class="row">
    <dt class="col-sm-12">
        Misyon Başlığı
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.misyonTitle)
    </dd>
    <dt class="col-sm-12">
        Misyon Açıklaması
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.misyonDescription)
    </dd>
</dl>

<form id="contact" asp-action="Delete">
    <input type="hidden" asp-for="misyonId" />
    <div class="col-md-12">
        <div class="filled-rectangle-button">
            <button type="submit" value="Delete">Sil</button>
        </div>
    </div>
    <a asp-action="Index">Tüm Misyonlar</a>
</form>