@model mezuniyetcim.com.Entities.tblMisyon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Misyon Detayları</h1>

<dl class="row">
    <dt class="col-sm-12">
        Misyon Başlığı
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.misyonTitle)
    </dd>
    <dt class="col-sm-12">
        Misyon Açıklaması
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.misyonDescription)
    </dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.misyonId">Düzenle</a> |
    <a asp-action="Index">Tüm Misyonlar</a>
</div>
