@model mezuniyetcim.com.Entities.tblVizyon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Vizyon Sil</h1>

    <dl class="row">
        <dt class="col-sm-12">
            Vizyon Başlığı
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.vizyonTitle)
        </dd>
        <dt class="col-sm-12">
            Vizyon Açıklaması
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.vizyonDescription)
        </dd>
    </dl>

    <form id="contact" asp-action="Delete">
        <input type="hidden" asp-for="vizyonId" />
        <div class="col-md-12">
            <div class="filled-rectangle-button">
                <button type="submit" value="Delete">Sil</button>
            </div>
        </div>
        <a asp-action="Index">Tüm Vizyonlar</a>
    </form>
