@model mezuniyetcim.com.Entities.tblVizyon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Vizyon Detayları</h1>

<dl class="row">
    <dt class="col-sm-12">
        Vizyon Başlığı
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.vizyonTitle)
    </dd>
    <dt class="col-sm-12">
        Vizyon Açıklaması
    </dt>
    <dd class="col-sm-12">
        @Html.DisplayFor(model => model.vizyonDescription)
    </dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.vizyonId">Düzenle</a> |
    <a asp-action="Index">Tüm Vizyonlar</a>
</div>
