@model mezuniyetcim.com.Entities.tblVizyon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_panel.cshtml";
}

<h1>Edit</h1>

<h4>tblVizyon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vizyonId" />
            <div class="form-group">
                <label asp-for="vizyonTitle" class="control-label"></label>
                <input asp-for="vizyonTitle" class="form-control" />
                <span asp-validation-for="vizyonTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vizyonDescription" class="control-label"></label>
                <input asp-for="vizyonDescription" class="form-control" />
                <span asp-validation-for="vizyonDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
