@model mezuniyetcim.com.Entities.tblMail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Mail Adresi Detayları</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Mail Adresi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mailId">Düzenle</a> |
    <a asp-action="Index">Tüm Mail Adresleri</a>
</div>
