<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Ramayana - Free Bootstrap 4 CSS Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--
    Ramayana CSS Template
    https://templatemo.com/tm-529-ramayana
    -->
    <!-- Additional CSS Files -->
    <link href="~/Admin/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Admin/assets/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Admin/assets/css/owl.css" rel="stylesheet" />

    <!-- FullCalendar CSS Files -->
    <link href="~/fullcalendar/lib/main.css" rel="stylesheet" />
    <script src="~/fullcalendar/lib/locales-all.js"></script>
    <script src="~/fullcalendar/lib/main.js"></script>
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="index.html">MEZUNİYETCİM</a>
                    </div>
                </header>

                <div>
                    @RenderBody()
                </div>
            </div>
        </div>


        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">

                <!-- Search Box -->
                <section id="search" class="alt">
                    <form method="get" action="#">
                        <input type="text" name="search" id="search" placeholder="Search..." />
                    </form>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li>
                            <span class="opener">Dropdown One</span>
                            <ul>
                                <li><a href="#">First Sub Menu</a></li>
                                <li><a href="#">Second Sub Menu</a></li>
                                <li><a href="#">Third Sub Menu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register">
                                Kullanıcı Ekle
                            </a>
                        </li>
                        <li>
                            <a asp-controller="ProductCategories" asp-action="Index">
                                Ürün Kategori İşlemleri
                            </a>
                        </li>
                        <li>
                            <a asp-controller="tblProducts" asp-action="Index">
                                Ürün İşlemleri
                            </a>
                        </li>
                        <li>
                            <span class="opener">İletişim Bilgileri</span>
                            <ul>
                                <li>
                                    <a asp-controller="tblMails" asp-action="Index">
                                        Mail İşlemleri
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="tblPhones" asp-action="Index">
                                        Telefon Numarası İşlemleri
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="tblAddresses" asp-action="Index">
                                        Adres İşlemleri
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Vizyonumuz ve Misyonumuz</span>
                            <ul>
                                <li>
                                    <a asp-controller="tblVizyons" asp-action="Index">
                                        Vizyonumuz
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="tblMisyons" asp-action="Index">
                                        Misyonumuz
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Ajanda ve Anımsatıcı İşlemleri</span>
                            <ul>
                                <li>
                                    <a asp-controller="tblCalendar" asp-action="Index">
                                        Ajanda
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Events" asp-action="Index">
                                        Anımsatıcı İşlemleri
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- Featured Posts -->
                <div class="featured-posts">
                    <div class="heading">
                        <h2>Featured Posts</h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="#">
                            <div class="featured-item">
                                <img src="assets/images/featured_post_01.jpg" alt="featured one">
                                <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="assets/images/featured_post_01.jpg" alt="featured three">
                                <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">
                        Copyright &copy; 2019 Company Name
                        <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a>
                    </p>
                </footer>

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Admin/assets/js/browser.min.js"></script>
    <script src="~/Admin/assets/js/breakpoints.min.js"></script>
    <script src="~/Admin/assets/js/transition.js"></script>
    <script src="~/Admin/assets/js/owl-carousel.js"></script>
    <script src="~/Admin/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
