@model mezuniyetcim.com.Entities.tblProductCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Kategori Sil</h1>

    <dl class="row">
        <dt class = "col-sm-12">
            Kategori Adı:
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.productCategoryName)
        </dd>
    </dl>
    
    <form id="contact" asp-action="Delete">
        <input type="hidden" asp-for="productCategoryId" />
        <div class="col-md-12">
            <div class="filled-rectangle-button">
                <button type="submit" value="Delete">Sil</button>
            </div>
        </div>
        <a asp-action="Index">Tüm Kategoriler</a>
    </form>
