@model mezuniyetcim.com.Entities.tblProductCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Detaylar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-12">
            Kategori Adı:
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.productCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productCategoryId">Düzenle</a> |
    <a asp-action="Index">Tüm Kategoriler</a>
</div>
