@model IEnumerable<mezuniyetcim.com.Entities.tblProductCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div class="col-md-6 col-sm-12">
    <div class="row">
        <div class="col-md-6">
            <div class="filled-rectangle-button">
                <a asp-action="Create">Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>
<div class="alternate-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Kategori Adı
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.productCategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.productCategoryId">Düzenle</a> |
                        <a asp-action="Details" asp-route-id="@item.productCategoryId">Detaylar</a> |
                        <a asp-action="Delete" asp-route-id="@item.productCategoryId">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>