@model mezuniyetcim.com.Entities.tblProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Ürün Ekle</h2>
                <hr />
                <form id="contact" asp-action="Create"  enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <input asp-for="ProductName" type="text" class="form-control" id="name" placeholder="Ürün Adı" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input asp-for="ProductPrice" type="text" class="form-control" id="name" placeholder="Fiyat" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input asp-for="ProductDescription" type="text" class="form-control" id="name" placeholder="Ürün Açıklaması" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.productCategoryID, ViewBag.categoryView as SelectList, "-- Lütfen Kategorinizi Seçiniz --", new { @class = "form-control ", @id = "category", @placeholder = "Kategorinizi Seçiniz", required = "required" })
                            <span asp-validation-for="productCategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-group filled-rectangle-button">
                            <label asp-for="Files" class="control-label" for="dosyaYukle" hidden></label>
                            <input asp-for="Files" class="form-control-file filled-rectangle-button" type="file" style="border:none; color:red" id="dosyaYukle" multiple />
                            <span asp-validation-for="Files" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="filled-rectangle-button">
                                <button type="submit" value="Create">Oluştur</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Tüm Ürünler</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}