@model mezuniyetcim.com.Entities.tblProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Ürün Sil</h1>

<dl class="row">
    <dt class="col-sm-2">
        Ürün Adı
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt class="col-sm-2">
        Fiyat
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductPrice) ₺
    </dd>
    <dt class="col-sm-2">
        Kategori
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.productCategory.productCategoryName)
    </dd>
    <dt class="col-sm-2">
        Ürün Hakkında Bilgi
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductDescription)
    </dd>
</dl>


<form id="contact" asp-action="Delete">
    <input type="hidden" asp-for="ProductID" />
    <div class="col-md-12">
        <div class="filled-rectangle-button">
            <button type="submit" value="Delete">Sil</button>
        </div>
    </div>
    <a asp-action="Index">Tüm Ürünler</a>
</form>
