@model mezuniyetcim.com.Entities.tblProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Ürün Düzenle</h2>
                <hr />
                <form id="contact" asp-action="Edit">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductID" />
                        <div class="col-md-12">
                            <fieldset>
                                <input asp-for="ProductName" type="text" class="form-control" id="name" placeholder="Kategori Adı..." required="">
                            </fieldset>
                            <fieldset>
                                <input asp-for="ProductPrice" type="text" class="form-control" id="name" placeholder="Kategori Adı..." required="">
                            </fieldset>
                            <fieldset>
                                <input asp-for="ProductDescription" type="text" class="form-control" id="name" placeholder="Kategori Adı..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.productCategoryID, ViewBag.categoryView as SelectList, "-- Lütfen Kategorinizi Seçiniz --", new { @class = "form-control ", @id = "category", @placeholder = "Kategorinizi Seçiniz", required = "required" })
                            <span asp-validation-for="productCategoryID" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="filled-rectangle-button">
                                <button type="submit" value="Save">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Tüm Ürünler</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
