@model mezuniyetcim.com.Entities.tblPhone

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Telefon Numarası Düzenle</h2>
                <hr />
                <form id="contact" asp-action="Edit">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="phoneId" />
                        <div class="col-md-6">
                            <fieldset>
                                <input asp-for="phoneNumber" type="text" class="form-control" id="name" placeholder="Kategori Adı..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <div class="filled-rectangle-button">
                                <button type="submit" value="Save">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Tüm Telefon Numaraları</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
